

.font_poema_titulo { 
   text-align: left;   
   white-space: pre-line;
   font-family: 'EB Garamond', 'Times New Roman', Times, serif;  
   font-size: 1.2rem;   
}

.font_poema_corpo { 
   text-align: left;
   white-space: pre-line;
   font-family: 'EB Garamond', 'Times New Roman', Times, serif;  
   font-size: 1.1rem;   
}

.tit1 {    
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.1rem;
   font-weight: bold;
     
}
.tit2 { 
   font-family: 'Courier New', Courier, monospace;   
}


 