body {
   /* Adicione a classe de cor desejada do Bootstrap */
   background-color: #260b9e; /* ou use a classe bg-light ou outra classe de cor Bootstrap */
}

header {
   padding: 10px;
}

h1 {
   color: #333;
}

a {
   text-decoration: none;
   color: #007BFF;
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   margin-bottom: 8px;
}