

.font_poema_1 { 
   text-align: left;   
   white-space: pre-line;
   font-family: 'EB Garamond', 'Times New Roman', Times, serif;  
   font-size: 1.4rem;   
}

.font_poema_2 { 
   text-align: left;
   white-space: pre-line;
   font-family: 'EB Garamond', 'Times New Roman', Times, serif;  
   font-size: 1.2rem;   
}